/*
	Checklist.css
*/
html,body{
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body{
  padding-top: 10px;
}

div.configurator{
 	padding: 10px;
}

div.settings-icon{
	font-size: 200%;
	padding-top:15px;
}

div.settings-control{
	text-align:right;
}


div.sys-message{
	background-color: #eee;
	border-bottom: 1px solid #333;
	position: absolute;
	top: -1000px;
	width: 100%;
	z-index: 10000;
	text-align:center;
	padding: 10px 0px;
}


.list-container{
	padding: 0 5px;
}